@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 200;
}
a{
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 70px;
    background-color: #0D0D0D;

    box-shadow: 0px 4px 10px rgba(49, 46, 46, 0.5);
}

nav .left, nav .right{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.nav-button:hover, .nav-disabled{
    color: rgba(256, 256, 256, 0.3);
    
}

.nav-disabled{
    cursor: default;
    pointer-events: none;
}

body{
    background-color: #0D0D0D;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 700px;
    font-size: 35px;
    color: white;
    overflow: hidden; 
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../assets/home/jaguar_xj_r_sport_003.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; 
}

.section-1{
    display: flex;
    flex-direction: column;
    padding: 30px 35px;
    align-items: center;
    justify-content: center;
    background-color: #0D0D0D;
}

.section-1 .section-header{
    font-size: 40px;
    padding: 12px 0;
    color: #ccc;
}


.carousel{
    position: relative;
    height: 600px;
    width: 95%;
    margin: 0 auto;

}

.carousel-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-track-container{
    height: 100%;
    background-color: #0D0D0D;
    position: relative;
    overflow: hidden;
}

.carousel-track{
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    transition: transform 750ms ease-in-out;
}

.slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    background: transparent;
    border: 0;  
    cursor: pointer;
}
.carousel-button i{
    font-size: 100px;

}

.carousel-button-left{
    left: 10px;
}

.carousel-button-right{
    right: 10px;
}

.carousel-nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel-index{
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 12px;
    transition: background 750ms ease-in-out;
    cursor: pointer;
}

.carousel-index.current-slide{
    background: rgba(255, 255, 255, 0.75);
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 100px 30px;
    background-color: #0D0D0D;
    color: #fff;
}


/* CARS */
.section-1.cars{
    margin: 35px 0px 60px 0px;
    padding: 0;
}

.carousel.cars{
    position: relative;
    height: 200px;
    width: 400px;
    margin: 0 auto;

}

.carousel-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    background: transparent;
    border: 0;  
    cursor: pointer;
    z-index: 1;
    color: rgba(255, 255, 255, 0.75);
}

.slide.cars img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.carousel-button.cars i{
    font-size: 50px;
}

.carousel-button-left.cars{
    left: -20px;
}

.carousel-button-right.cars{
    right: -20px;
}

.carousel-index.cars{
    margin: 0 6px;
}

.section-2{
    padding: 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    grid-auto-flow: dense;
    grid-gap: 10px;
    z-index: 0;
}

.car-container{
    transition: all 1s ease-in-out;
}

.car-item{
    width: 100%;
    height: 100%;
    
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #202223;
    transition: box-shadow 0.3s ease;
}

.car-item:hover {
    box-shadow: 0 0 20px 5px var(--glow-color);
}

.car-image{
    width: 100%;
    height: 200px;
    padding: 20px 20px 0px 20px;
}

.car-text{
    width: 100%;
    max-width: 390px;
    height: 50%;
    margin: 10px 20px 20px 20px;
    color: #ccc;
    font-size:13px;
    overflow-wrap: break-word;
}


.car-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.car-name{
    font-size: 14px;
}
.car-price{
    font-size: 18px;
    font-weight: 600;
}



/* SHOWROOM */


.showroom-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    
    margin-top: 30px;
    margin-bottom: 100px;


    padding: 0px;
    background-color: #0D0D0D;
    
}

.showroom-section .section-header{
    font-size: 40px;
    color: #fff;
}

.carousel.showroom{
    position: relative;
    height: 700px;
    width: 100%;
}

.carousel-track-container.showroom{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #0D0D0D;
    overflow: hidden;
}

.carousel-button.showroom{
    z-index: 1;
    color: rgba(255, 255, 255, 0.75);
}
.carousel-button-left.showroom{
    left: 2px;
}

.carousel-button-right.showroom{
    right: 2px;
}

.carousel-nav.showroom{
    padding: 40px 0;
}




.showroom-gallery{
    padding: 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px 300px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.gallery-container{
    transition: all 1s ease-in-out;
}

.item{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;

    transition: .7s ease-in-out;
}

.item:hover img{
    transform: scale(1.2);
}

.c-2{
    grid-column: span 2;
}
.c-3{
    grid-column: span 3;
}


.r-2{
    grid-row: span 2;
}
.r-3{
    grid-row: span 3;
}


/* ABOUT US */

header.about-us::before {
    -webkit-filter: blur(4px); 
    filter: blur(4px);
    
}
.header-title.about-us{
    top: 50px;
    height: auto;
    width: 70%;
}
.header-title.about-us h1{
    font-size: 40px;
    margin-bottom: 12px;
}
.header-title.about-us p{
    font-size: 17px;
}
.header-title.about-us h2{
    font-size: 20px;
    margin-bottom: 12px;
}

.social-icons-about-us{
    margin-top: 10px;
}
.social-icons-about-us a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
    width: 50px;
    height: 40px;
}


/* LOGINN */

.login{
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    box-shadow: rgba(255, 255, 255, 0.15) 0px 6.5px 15px;
    padding: 30px;
    border-radius: 12.5px;
    box-sizing: border-box;
    background-color: #202223;
    gap: 25px;
}

.login-title{
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 10px;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
    width: 40px;
    height: 40px;
}

.or-use-email-pass, .forgot-password{
    font-size: 11px;
}


form{
    position:relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


input{
    background-color: #cfd4d157;
    height: 40px;
    width: 260px;
    padding: 0 0.75rem;
    border-radius: 0.4rem;
    border: 2px solid transparent;
    transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1); 
}

input::placeholder{
    color: black;
}


.login-button{
    margin-top: 10px;
    text-align: center;
    padding: 8px;
    font-weight: 300;
    height: 40px;
    width: 100%;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
    transition: all 0.3s ease-in-out;
}

.login-button:hover {
    cursor: pointer;
    background-color: rgb(50, 50, 50);
}

.register-link{
    position: relative;
    height: 20px;
}
.link{
    position: absolute;
    right: -60px;
    bottom: -10px;
    font-size: 9px;
}

.buttons{
    display: flex;
    gap: 10px;
}

/* REGISTER */

.login-title.register{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
}

.terms-conditions{
    display: flex;
    flex-direction: row;
    font-size: 11px;
    height: 40px;
    width: 260px;
    gap: 10px;

    justify-content: center;
    align-items: center;

}
.checkbox {
    width: 20px; 
    background-color: aqua;
}