@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 70px;
    background-color: #0D0D0D;
}

nav .left, nav .right{
    display: flex;

    align-items: center;
    gap: 20px;
    color: white;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 700px;
    font-size: 35px;
    color: white;
    overflow: hidden; 
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("assets/jaguar_xj_r_sport_003.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; 
}

.section-1{
    display: flex;
    flex-direction: column;
    padding: 30px 35px;
    align-items: center;
    justify-content: center;
    background-color: #D0D8D9;
}


.carousel{
    position: relative;
    height: 800px;
    width: 80%;
    margin: 0 auto;

}

.carousel-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-track-container{
    height: 100%;
    background-color: black;
    position: relative;
}

.carousel-track{
    padding: 0;
    margin: 0;
}

.slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    background: transparent;
    border: 0;  
    cursor: pointer;
}
.carousel-button i{
    font-size: 100px;

}

.carousel-button-left{
    left: -130px;
}

.carousel-button-right{
    right: -130px;
}


.carousel-nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;

}

.carousel-index{
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(0,0,0,0.3);
    margin: 0 12px;
}

.carousel-index.current-slide{
    background: rgba(0,0,0,0.75);
}




footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 100px 30px;
    background-color: #0D0D0D;
    color: #fff;
}

